@model BibliotecaMVC.Models.Operacao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Operacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataEmprestimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEmprestimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDevolucao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdLivro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdLivro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
